# Dependencies
node_modules/
bun.lockb

# Build output
dist/

# Environment files
.env
.env.local
.env.*.local

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
.temp/
temp/
scripts/*

# Linter and formatter cache
.eslintcache
.prettier-cache

# Husky
.husky/_/

# メモ
/memo.txt

# TODO
/TODO.md
